*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: black;
    padding: 10px;
}

.logo{
    color: white;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 120px;
}

.banner{
    background-color: pink;
    position: relative;
    display: flex;
}

.banner img{
    height: 500px;
    opacity: 85%;
    
}

.formulario{
    background-color: #c7c7c7;
    padding: 20px;
}



.texto{
    text-align: center;
    color: white;
    position: absolute;
    width: 500px;
    padding-left: 150px;
    padding-top: 100px;
}

.texto h1{
    font-weight: 800;
    font-size: 60px;
}
.texto p{
    font-weight: 500;

}

input{
    display: block;
    margin-bottom: 5px;
}